<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>

<% const name = "ayush" %>

    <body>
        <%- include('../partials/top.ejs') %>
            <%= name %>
                <p class="back">Hello this is ayush khandelwal ejs index file is created </p>
                <a href="404.ejs">404 error move</a>jhjh
    </body>

</html>