<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<link rel="stylesheet" href="../public/styles.css">
<h1>
    <%= data.title %>
</h1>

<h4>
    <%= data.content %>
</h4>

<a id="delete" class='abc' data-doc="<%= data.id %>">delete</a>

<body>

</body>
<script>
    const delbut = document.querySelector('#delete');
    delbut.addEventListener('click', (e) => {
        console.log('clicked');
        const endpt = `/particularpost/${delbut.dataset.doc}`;

        fetch(endpt, {
                method: 'DELETE'
            })
            .then((res) =>
                res.json()
            ).then((result) =>
                window.location.href = result.redirect
            ).catch((err) => {
                console.log(err);
                console.log('error occured')
            })

    })
</script>

</html>