<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <%= title %>


        <br><br>
        <hr>

        <% if(posts.length>0) { %>

            <% posts.forEach((post)=>{ %>
                <a href="particularpost/<%= post.id %>">
                    <h2>
                        <%= post.title %>
                    </h2>:

                    <%= post.content %>
                        <% }) %>
                </a>
                <hr>
                <% } %>


                    <h6>Add Post:</h6>
                    <a href="form">click Here</a>

</body>

</html>